/* styles.css */
.Order-from-1 {
    width: 300px;
    margin: auto;
  }
  
  .Order-from-1 h1 {
    text-align: center;
  }
  
  .form-orders-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-1,
  .input-2 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .btn-orders-1 {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-orders-1:hover {
    background-color: #0056b3;
  }
  